* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.el-tabs__item {
  color: #ccc !important;
  font-size: 18px !important;
}

.el-tabs__item.is-active {
  color: #409eff !important;
}

.el-tabs__nav {
  transform: translateX(15px) !important;
}

.el-switch--small .el-switch__label * {
  font-size: 18px !important;
}